//font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;

body {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: $grey;
	cursor: default;
}

.wrap {
	overflow-x: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;

	@media (max-width: 1280px) {
		max-width: 990px;
	}

	@media (max-width: 1024px) {
		max-width: 768px;
	}

	@media (max-width: 800px) {
		max-width: 668px;
	}

	@media (max-width: 768px) {
		max-width: 600px;
	}

	@media (max-width: 640px) {
		max-width: 480px;
	}

	@media (max-width: 540px) {
		max-width: 360px;
	}

	@media (max-width: 400px) {
		max-width: 280px;
	}
}

li {
	list-style: none;
	line-height: 26px;
}

button {
	height: 40px;
	width: 150px;
	border: none;
	border-radius: 4px;
	background: linear-gradient(270deg, #0565ff 0%, #0442df 100%);
	box-shadow: 0 3px 10px 0 rgba(67, 109, 216, 0.25);
	color: $white;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 0.65px;
	line-height: 16px;
	text-align: center;
	cursor: pointer;
}

.reg-btn {
	margin-left: 30px;

	@media (max-width: 1024px) {
		margin: 0 30px;
	}

	@media (max-width: 768px) {
		height: 30px;
		width: 120px;
	}
}

button:hover {
	background: linear-gradient(270deg, #72a8ff 0%, #3165ea 100%);
}

h1,
h2,
h3 {
	color: $blue;
	font-family: "Oswald", sans-serif;
}

h4 {
	color: $blue;
}
